@font-face {
    font-family: 'TeX Gyre Adventor';
    src: url('file:texgyreadventor-bold.otf') format("opentype"),
    url('file:texgyreadventor-bolditalic.otf') format("opentype"),
    url('file:texgyreadventor-italic.otf') format("opentype"),
    url('file:texgyreadventor-regular.otf') format("opentype");
}


.background::before{
     background-color: black;


}



h1, h3, p,li, table{
    color:white;
    font-family: 'TeX Gyre Adventor';
    font-weight: Bold;

}

.col-centered{
float: none;
margin-right: auto;
margin-left: auto;

}
.schedule{
    margin: auto;
}

.contact{
    display: inline-block;

}

.left {
    margin-left: 1%;
    font-weight: bolder;
}

.logo{
    background-image: url(../images/spade.png);
    background-size: cover;
    height: 150px;
    width: 150px;
    margin-bottom: -100px;
}

.sports{
    font-size: 40px;
}

.personal{
    font-size: 60px;
    margin-top: -90px;
}

.SSschedule{
    margin-bottom: 4%;
}

.year{
    font-size: 1000%;
}

.title{

    margin: auto;
    height: 300px;
    width: 500px;
    background-image: url(../images/ACE_White.png);
    background-size: cover;

}

@media only screen and (min-width : 320px) {
    .title{
    margin: auto;
    height: 200px;
    width: 400px;


}




.personal{
    margin-top: -20px;

}
  }

  /* Extra Small Devices, Phones */
  @media only screen and (min-width : 480px) {
      .title{
      margin: auto;
      height: 300px;
      width: 500px;

    }
    .personal{
        margin-top: -80px;

    }
  }
.background{
    background: url(../images/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

    width: 100%;
    height: 100%;
}
